 html,body{
  height:100%;
 
  }
  .seedBag{
  width:840px;
  margin:auto;
  }
   
  .boxSeed{
  width:120px;
  height:200px;
  float:left;
  padding:0px 30px;
  text-align:center;
  }
  .num{
  border-radius:50%;
  width:2rem;
  height:2rem;
  background-color:red;
  color:white;
  text-align:center;
  margin:auto;
  
  }
  .btleft{
  float:left;
  }
  .btright{
  float:right;
  }
  .btleft:hover,.btright:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .btleft:active,.btright:active{
   transform: translateY(4px);
  }